@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,300&family=Patrick+Hand&family=Permanent+Marker&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}



body{

    font-family:"'Montserrat', sans-serif;";
     background-color: rgba(11, 13, 161, 0.133);
     animation:right-move 1s ease-in;
}

header{
    width: 100%;

}

.header .main{

    width: 90%;
    margin: 0 auto;
}
.navbar{

    margin-top: 30px;
}

.navbar .brand{
     display: flex;
     margin: 20px 70px;
     color: rgb(53, 8, 83);
}

.navbar .brand .fa-wine-bottle{
     font-size: 1.6em;
} 

.navbar .brand h3{
    font-size: 1.3em;
    margin: 5px 5px;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: -50p 20px;
}
.menu ul li{
    list-style: none;
    margin-right: 80px;
     
}
.menu ul li a{
    color: rgb(30, 0, 163);
    text-decoration: none;
    font-size: 1.5em;

}
.navbar .toggle-menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;


}
.navbar .toggle-menu i{
    font-size: 1.8em;
    cursor: pointer;
    color: rgb(255, 1, 1);
    display: none;
}

.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(38, 11, 134);
}
.container-info h1{
    font-size: 4em;
    font-family: "Permanent Marker",cursive;
    animation:left-move 1s ease-in;
}

.container-info .img-content img{
    max-width: 100%;
    animation:up-move 1s ease-in;
}




@media(max-width:570px){

    .navbar .toggle-menu i{
        display: block;
        margin-right: -60px 30px;
    }
    .navbar .menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(11, 13, 161, 0.133);
        position: fixed;
        margin-top: 30px;
        transform: translateX(-120%);
        transition: 1s ease-in;
    }
    .navbar .menu .menu-on {
        transform: translateX(-4%);
    }





    .navbar .menu ul li{
        margin: 30px;
        text-transform: uppercase;

    }
}

@keyframes left-move{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes right-move{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes up-move{
    0%{
        opacity: 0;
        transform: translatey(100px);
    }
    100%{
        opacity: 1;
        transform: translatey(0px);
    }
}   








